*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
body{
    background-color: #222;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba,#5b548a) ;
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 44px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc ;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
 font-size: 80px;
 font-weight: 500;
}
.weather h2{
 font-size: 45px;
 font-weight: 400;
 margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;

}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity , .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    color: #222;
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
/* responsive*/
@media screen and (max-width: 768px) {
    body {
      overflow-x: hidden;
    }
  
    .card {
      width: 98%;
      max-width: none; /* Remove max-width constraint */
      margin: 50px auto 0; /* Adjust margin */
      padding: 20px;
    }
  
    .search {
      justify-content: flex-start; /* Keep button at the end */
    }
  
    .search input {
      width: calc(100% - 70px); /* Adjust input width to accommodate button */
      margin-right: 10px; /* Add margin between input and button */
      z-index: 1; /* Ensure input remains above button */
    }
  
    .search button {
      width: 50px; /* Adjust button width */
      height: 50px; /* Adjust button height */
      z-index: 0; /* Ensure button remains below input */
    }
  
    .search button img {
      width: 24px; /* Adjust image width */
    }
  
    .weather h1 {
      font-size: 60px;
    }
  
    .weather h2 {
      font-size: 35px;
    }
  
    .weather-icon {
      width: 120px;
    }
  
    .details {
      flex-direction: column;
      margin-top: 30px; /* Adjust margin */
    }
  
    .col {
      margin-bottom: 20px;
    }
  }
  
  
  
  
